@model GeocodeTest.Models.Address

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Address", FormMethod.Post, new { @class = "form-horizontal" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Address</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.Address1, "Address Line 1", new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address2, "Address Line 2", new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zip, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Zip, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </fieldset>
}

<hr />

<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
